<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="br.com.pearls">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CsvReaderActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="*/*" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.AddEditTermActivity"
            android:label="New Term"
            android:parentActivityName=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.pearls.SearchActivity" />
        </activity>
        <activity
            android:name=".ui.main.LanguagesActivity"
            android:label="@string/title_activity_languages"
            android:parentActivityName=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.pearls.SearchActivity" />
        </activity>
        <activity
            android:name=".Settings.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".SearchActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.pearls.SearchActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_search"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
         configChanges="orientation|screenSize" -> this keeps web view content from
             reloading upon screen rotation (portrait/landscape)
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:launchMode="singleTop"></activity>
    </application>

</manifest>